name: Deploy to WordPress

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftp
          port: 21
          server-dir: www/wp-content/plugins/WooCommerce-Balikovna-komplet/
          timeout: 300000
          log-level: verbose
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            .github/**
            .gitignore
            .editorconfig
